<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>近代教材开源库</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <!-- <h1>Database</h1>-->
    <!-- Updated search bar container -->
    <br>
    <br>
    <div>
        <p>
              本站为水老师主导的近代教材数据库项目，致力于分享近代教科书的数据，以加强教育学学术研究。
            合作请联系谢大哥jia.xie@hcts.uni-heidelberg.de
        </p>   
    </div>   
    
   
    <br>
   
</body>
</html>

